<div class="container">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <h2> Post Acquisition Forensics Analysis </h2>
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                
                <div class="form-group col-lg-8">
                  <input type="text" class="form-control" id="path" placeholder="Enter your path..."> 
                </div>
                  <button id="addfiles" class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                  </button>
                
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <table  role="presentation" class="table table-striped">
                <tbody id="presentation_table" class="files">
                </tbody>
            </table>
          </div>
          <div class="col-xs-6">
            <blockquote id="bq">
              <p><b>Result:</b><br>
              <font id ="filename"> </font><br>
              <font id ="md5"> </font><br>
              <font id ="sha1"> </font><br>
              <font id ="partition1"> </font><br>
              <font id ="partition2"> </font><br>
              <font id ="partition3"> </font><br>
              <font id ="partition4"> </font><br>
              </p>
          </blockquote>
          </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        
    
    <br>

</div>


<script>
/*jslint unparam: true, regexp: true */
/*global window, $ */
$(document).ready(function(){


    $("#addfiles").on('click',function(){
      var path = $("#path").val();
      var dataString = 'filepath='+path;
      if(path=='')
      {
        alert("Please Fill file path");
      }
      else
      {
      // AJAX Code To Submit Form.
        $.ajax({
          type: "POST",
          url: "/add_files",
          data: dataString,
          cache: false,
          success: function(data){  
            data = JSON.parse(data);
              if(data.hasOwnProperty('error')){
                alert(data["error"]);
              }
              else{
                var b = $("<div>"+data["size"]+"</div>").filesize()[0];

                var c = '<tr data-toggle="table" class="template-upload fade in"><td><p class="name">'+data["filename"]+'</p><strong class="error text-danger"></strong></td><td><p>'+$(b).text()+'</p></td><td class="col-lg-1"><button class="btn btn-primary start calculate"><i class="glyphicon glyphicon-upload"></i><span>Calculate</span></button></td><td class="col-lg-1"><button class="btn btn-danger delete" id="123"><i class="glyphicon glyphicon-trash"></i><span>Cancel</span></button></td><td class="fullpath" style="display:none;">'+data["fullpath"]+'</td></tr>';
               
                $("#presentation_table").append(c);

                $("#presentation_table .delete").on('click', function () {
                    $(this).parent().parent().remove();
                });

                $("#presentation_table .calculate").on('click',function(){
                    var fileString = 'filepath='+$(this).parent().parent().children(".fullpath").text();
                    $.ajax({
                      type: "POST",
                      url: "/calculate_files",
                      data: fileString,
                      cache: false,
                      success: function(data2){  
                        data2 = JSON.parse(data2);
                        $("#filename").text("File: "+data2["filename"]);
                        $("#sha1").text("SHA1: "+data2["SHA1"]);
                        $("#md5").text("MD5: "+data2["MD5"]);
                        $("#partition1").text("Partition1: "+data2["partition"]["partition1"]["type"]+', '+data2["partition"]["partition1"]["starting_address"]+', '+data2["partition"]["partition1"]["size"]);
                        $("#partition2").text("Partition2: "+data2["partition"]["partition2"]["type"]+', '+data2["partition"]["partition2"]["starting_address"]+', '+data2["partition"]["partition2"]["size"]);
                        $("#partition3").text("Partition3: "+data2["partition"]["partition3"]["type"]+', '+data2["partition"]["partition3"]["starting_address"]+', '+data2["partition"]["partition3"]["size"]);
                        $("#partition4").text("Partition4: "+data2["partition"]["partition4"]["type"]+', '+data2["partition"]["partition4"]["starting_address"]+', '+data2["partition"]["partition4"]["size"]);
                      }
                    });
                });
              }
            },
          error: function(XMLHttpRequest, textStatus, errorThrown) { 
              alert("Status: " + textStatus); alert("Error: " + errorThrown); 
          }       
        });
      }
      
    });
});

</script>
