<div class="container">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <h2> Post Acquisition Forensics Analysis </h2>
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                
                <div class="form-group col-lg-8">
                  <input type="text" class="form-control" id="path" placeholder="Enter your path..."> 
                </div>
                  <button id="addfiles" class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                  </button>
                
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <table  role="presentation" class="table table-striped">
                <tbody id="presentation_table" class="files">
                </tbody>
            </table>
          </div>
          <div class="col-xs-6">
            <blockquote id="bq">
              <p><b>Result:</b><br>
              <font id ="filename"> </font><br>
              <font id ="md5"> </font><br>
              <font id ="sha1"> </font><br>
              <table  role="presentation" class="table table-striped">
                <tbody id="partition_table" class="partition">
                </tbody>
              </table>
              </p>
          </blockquote>
          </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        
    
    <br>

</div>


<script>
/*jslint unparam: true, regexp: true */
/*global window, $ */
$(document).ready(function(){


    $("#addfiles").on('click',function(){
      var path = $("#path").val();
      var dataString = 'filepath='+path;
      if(path=='')
      {
        alert("Please Fill file path");
      }
      else
      {
      // AJAX Code To Submit Form.
        $.ajax({
          type: "POST",
          url: "/add_files",
          data: dataString,
          cache: false,
          success: function(data){  
            data = JSON.parse(data);
              if(data.hasOwnProperty('error')){
                alert(data["error"]);
              }
              else{
                var b = $("<div>"+data["size"]+"</div>").filesize()[0];

                var c = '<tr data-toggle="table" class="template-upload fade in"><td><p class="name">'+data["filename"]+'</p><strong class="error text-danger"></strong></td><td><p>'+$(b).text()+'</p></td><td class="col-lg-1"><button class="btn btn-primary start calculate"><i class="glyphicon glyphicon-upload"></i><span>Calculate</span></button></td><td class="col-lg-1"><button class="btn btn-danger delete" id="123"><i class="glyphicon glyphicon-trash"></i><span>Cancel</span></button></td><td class="fullpath" style="display:none;">'+data["fullpath"]+'</td></tr>';
               
                $("#presentation_table").append(c);

                $("#presentation_table .delete").on('click', function () {
                    $(this).parent().parent().remove();
                });

                $("#presentation_table .calculate").on('click',function(){
                    var fileString = 'filepath='+$(this).parent().parent().children(".fullpath").text();
                    $.ajax({
                      type: "POST",
                      url: "/calculate_files",
                      data: fileString,
                      cache: false,
                      success: function(data2){  
                        data2 = JSON.parse(data2);
                        $("#filename").text("File: "+data2["filename"]);
                        $("#sha1").text("SHA1: "+data2["SHA1"]);
                        $("#md5").text("MD5: "+data2["MD5"]);

                         var partitions = '<tr data-toggle="table" class="template-upload fade in"><td><b>Partitions</td><td><b>Type</td><td><b>Starting Address</td><td><b>Size</b></td>';


                        partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>Partition1:</b></td><td>'+data2["partition"]["partition1"]["type"]+'</td><td>'+data2["partition"]["partition1"]["starting_address"]+'</td><td>'+data2["partition"]["partition1"]["size"]+'</td>';

                        partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>Partition2:</b></td><td>'+data2["partition"]["partition2"]["type"]+'</td><td>'+data2["partition"]["partition2"]["starting_address"]+'</td><td>'+data2["partition"]["partition2"]["size"]+'</td>';

                        partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>Partition3:</b></td><td>'+data2["partition"]["partition3"]["type"]+'</td><td>'+data2["partition"]["partition3"]["starting_address"]+'</td><td>'+data2["partition"]["partition3"]["size"]+'</td>';
                        
                        partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>Partition4:</b></td><td>'+data2["partition"]["partition4"]["type"]+'</td><td>'+data2["partition"]["partition4"]["starting_address"]+'</td><td>'+data2["partition"]["partition4"]["size"]+'</td>';

                          $.each(data2["partition"], function(index, element) {
                            if(!$.isEmptyObject(data2["partition"][index]["details"])){

                              partitions += '<tr></tr></tbody></table> <table  role="presentation" class="table table-striped"><tbody><tr><b>Partition '+index+element["type"]+'</b></tr>';


                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>Reserved area:</b></td><td>Start sector: 0</td><td>Ending sector: '+element["details"]["reserved_area"]-1+'</td><td> Size: '+element["details"]["reserved_area"]+'</td>';

                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td  colspan="4"><b>Sectors per cluster:</b>'+element["details"]["sectors_per_cluster"]+' Sectors</td>';

                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td><b>FAT area:</b></td><td>Start sector:'+element["details"]["reserved_area"]+' </td><td>Ending sector: '+(element["details"]["reserved_area"]+element["details"]["no_of_fat"]*element["details"]["size_of_fat"])+'</td>';

                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td  colspan="4"><b># of FATs:</b>'+element["details"]["no_of_fat"]+'</td>';

                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td  colspan="4"><b>The size of each FAT:</b>'+element["details"]["size_of_fat"]+' Sectors</td>';

                              partitions += '<tr data-toggle="table" class="template-upload fade in"><td  colspan="4"><b>The first sector of cluster 2:</b>'+(element["details"]["reserved_area"]+element["details"]["no_of_fat"]*element["details"]["size_of_fat"]+element["details"]["root_directory"])+' Sectors</td>';

                            }
                          });
                          
                          console.log(partitions);
                          $("#partition_table").html(partitions);


                      }
                    });
                });
              }
            },
          error: function(XMLHttpRequest, textStatus, errorThrown) { 
              alert("Status: " + textStatus); alert("Error: " + errorThrown); 
          }       
        });
      }
      
    });
});

</script>
